body {
    background:#f5f5f5;
    display:flex;
    justify-content:center;
    padding:20px;
    direction:rtl;
    font-family:Arial;
}

.board-container {
    position:relative;
}

#board {
    width:800px;
    height:500px;
    background:white;
    border:3px solid #444;
    border-radius:10px;
}

.toolbar {
    display:flex;
    justify-content:center;
    margin-top:10px;
    gap:10px;
}

.toolbar button {
    font-size:22px;
    padding:8px;
    border:none;
    background:#ddd;
    cursor:pointer;
    border-radius:8px;
}

.popup {
    position:absolute;
    bottom:70px;
    left:50%;
    transform:translateX(-50%);
    background:white;
    padding:15px;
    border-radius:10px;
    border:2px solid #444;
    display:none;
    flex-direction:column;
    gap:8px;
}
